@import "~antd/dist/antd.css";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .home-img {
  width: 80%;
  height: 80%;
} */

.home-search {
  padding: 20px;
}

.home-card {
  margin-left: 20px;
  margin-right: 20px;
}
