@import "~antd/dist/antd.css";

.home {
  text-align: center;
}

.home-img {
  width: 40%;
  height: 40%;
}

.home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home-card {
  margin: 20px;
}
